@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 100px;
    color: black;
    text-align: center;
    background: url("assets/bg_1.jpg");
}
#home.dark {
    background: url("assets/bg2.jpg");
}

#home span{
    color: #fff;
}

#home button{
    font-size: 40px;
    padding: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: flicker 1s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1; /* Fully visible */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Subtle glow */
  }
  20% {
    opacity: 0.8; /* Slightly less visible */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Stronger glow */
  }
  40% {
    opacity: 1; /* Fully visible */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  60% {
    opacity: 0.7; /* More transparent */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9); /* Intense glow */
  }
  80% {
    opacity: 1; /* Fully visible */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    opacity: 0.9; /* Slightly less visible */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  }
}

#home button:hover{
    background-color: rgb(191, 188, 188);
}

#detail{
    height: 100vh;
    background: url("assets/bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail.dark {
    background: url("assets/bg4.jpg");
}

#detail #page{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#detail #content{
    margin-top: 50px;
}

#detail h1{
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
}

#detail ul{
    line-height: 300%;
}


#detail img{
    width: 200px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

#detail img:hover{
    filter: brightness(50%);

}

#detail ul li{
    font-size: 20px;
}

#detail ul span{
    font-weight: bold;
}

#hobbies{
    height: 100vh;
    background: url("assets/bg3.jpg");
    padding: 50px;
    text-align: center;
}

#hobbies.dark {
    background: url("assets/bg6.jpg");
}

#hobbies h1{
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    margin-bottom: 50px;
}

#hobbies p{
    text-align: justify;
}

#hobbies img{
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
}

#hobbies button{
    font-family: "Pixelify Sans", sans-serif;
    border-radius: 5px;
    font-size: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

#hobbies button:hover{
    background-color: rgb(195, 196, 196);
}

#dream{
    height: 100vh;
    background: url("assets/bg.jpg");
    display: flex;
    justify-content: center;
    padding: 100px;
    cursor: pointer;
}

#dream.dark {
    background: url("assets/bg4.jpg");
}

#dream #content2{
    width: 70%;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
}

#dream h1{
    color: black;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
    margin: 30px;
}

#dream button{
    font-family: "Pixelify Sans", sans-serif;
    border-radius: 5px;
    font-size: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

#dream button:hover{
    background-color: rgb(195, 196, 196);
}

#top_btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: rgb(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 0;
}
#top_btn:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
}

#later, #later2, #dream button{
    visibility: hidden;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#explode{
    height: 100vh;
    background: url("assets/explode.gif");
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#explode h1{
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
    margin: 50px;
    text-align: center;
}

/* LIGHT - DARK BUTTON */
#toggle_btn {
    display: block;
    position: fixed;
    z-index: 100;
    top: 20px;
    left: 20px;
}

/* body.dark {background-color: #292c35;} #9b59b6 */

/* body.dark h1, body.dark .support a {color: #fff;} */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 60px;
  height: 36px;
  border-radius: 60px;
  position: relative;
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fa-moon {color: #f39c12;}

.fa-sun {color: #f1c40f;}

.checkbox-label .ball {
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}